.navbar{
    background-color: #7B5E7B;
    margin: 0;
    color:#D1CFE2;
    padding: 2vw;
    margin-bottom: 1vw;
  }

  .timer{
    font-size: 1.5rem;
    text-align: center;
  }

.main-container{
  width: 75%;
  margin: auto;
  text-align: center;
  color: var(--main);
}

.form{
  font-size: 2rem ;
  letter-spacing: 1px;
  margin: 1vw;
}
.form>input{
  background-color: transparent;
  border: none;
  border-bottom: var(--main) 3px dotted;
  font-size: 2rem;
  margin: 1vw;
  color: var(--main);
}

